{% extends "base_template.html" %}

{% block content %}
    <h1 class="my-projects-text">Technology: {{ selected_technology }}</h1>

    {% if projects_with_technology is None %}
        <p><em>Loading...</em></p>
    {% else %}
        <div class="container-fluid">
            <div class="row">
                {% for project in projects_with_technology %}
                    <div class="col-md-6 col-lg-4 mb-2">
                        {% include "catalog/project_card.html" with project=project %}
                    </div>                    
                {% empty %}
                    <li>No projects with this technology.</li>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
